
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: 400;
    text-align: initial;
}
h1 {
    font-size: 30pt;
    font-weight: bold;
    display:flex;
    justify-content: center;

}

h2 {
     text-align: center;
    font-weight:bolder;
    font-size: 10px;
    display: flex;
    align-items: last  baseline;

}
  h3 {
    text-align: end;
     font-size: 16pt;
    font-weight: bold;
    display: flex;
    align-items:last baseline;

  }

.menu {
    height: 200px;
    font-size: 20px; 
    display: flex;
    justify-content: flex-end;
    
}
.container-flex-direction {
    height: 350px;
    width: 200;
    background-color: antiquewhite;
    display: flex;
    border: #a1076e;
    margin-top: 50px;
    
}
.row {
    
    font-weight: bold;
    width: 100px;
    height: 30px;
    background-color: rgb(121, 5, 92);
    border: .5px solid #000;
    display: flex;
    flex-direction: row;
   justify-content: center;
    margin-top: auto; 
    
}
.rowreverse {
    
    font-weight: bold;
    margin-top: auto;
    width: 100px;
    height: 35px;
    background-color: rgb(121, 5, 92);
    border: .5px solid #000;
    display: flex;
    -ms-flex-direction: row-reverse;
    
}
.column  {
    font-weight: bold;
    width: 100px;
    height: 35px;
    background-color: rgb(121, 5, 92);
    border: .5px solid #000;
    display: flex;
    flex-direction: column;
    
    
    
    
}

.columnreverse {
    
    font-weight: bold;
    width: 100px;
    height: 35px;
    background-color: rgb(121, 5, 92);
    border: .5px solid #000;
    display: flex;
    flex-direction: column-reverse;
    
.contido
    
        width: 270px;
        height: 200px;
        background-color: rgb(113, 209, 247);
        border: 1px solid #000;
        display: flex;
        align-items: center;
        justify-content: space-around;


    

}


.container {

     height: 350px;
    width: 200;
    background-color: antiquewhite;
    display: flex;
   border: #a1076e;
   margin-top: 50px;
   justify-content: space-around;

}





.flex-direction {
    width: 400px;
    font-size: 500px;
    height: 200px;
    background-color: rgb(113, 209, 247);
    border: 1px solid #000;
}

.container {
    height: 200px;
    background-color: antiquewhite;
    border: 5px solid #a1076e;
    display: flex;
}


.align-content {
    width: 200px;
    height: 200px;
    background-color: rgb(113, 209, 247);
    border: 1px solid #000;
}
.container {
    height: 200px;
    background-color: antiquewhite;
    border: 5px solid #a1076e;
    display: flex;
}


.justify-content {
    width: 500px;
    height: 200px;
    background-color: rgb(113, 209, 247);
    border: 1px solid #000;
}
.container {
    height: 210px;
    background-color: antiquewhite;
    border: 5px solid #a1076e;
    display: flex;
}

