*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: initial;
    font-weight: 400px;
    text-align: initial;
}


.container {
    height: 500px;
    background-color: antiquewhite;
    border: 5px solid #a1076e;
    display: flex;
}

.contido {

    width: 500px;
    height: 200px;
    background-color: rgb(113, 209, 247);
    border: 1px solid #000;
}


.container {
    height: 500px;
    background-color: antiquewhite;
    border: 5px solid #a1076e;
    display: flex;
}

.flex-direction {
    width: 500px;
    height: 200px;
    background-color: rgb(113, 209, 247);
    border: 1px solid #000;
}

.container {
    height: 500px;
    background-color: antiquewhite;
    border: 5px solid #a1076e;
    display: flex;
}


.align-content {
    width: 500px;
    height: 200px;
    background-color: rgb(113, 209, 247);
    border: 1px solid #000;
}
.container {
    height: 500px;
    background-color: antiquewhite;
    border: 5px solid #a1076e;
    display: flex;
}


.justify-content {
    width: 500px;
    height: 200px;
    background-color: rgb(113, 209, 247);
    border: 1px solid #000;
}
.container {
    height: 500px;
    background-color: antiquewhite;
    border: 5px solid #a1076e;
    display: flex;
}

